<header class="header">DTG</header>
<div class="hero-wrapper">
  <div class="hero">
    <div class="message">
      <span>Medical Cannabis on the blockchain</span>

      See how a distributed ledger can provide both transparency for regulators
      and privacy for patients while reducing friction in the supply chain
    </div>
  </div>
</div>
<div class="services-wrapper">
  <div class="services">
    <div class="top-wrapper">
      <img src="../../../assets/case-study-img.png" alt="" />
      <h2>Blockchain & distributed ledger</h2>
    </div>
    <p>
      Blockchain and distributed ledger technologies have great potential for
      building secure, trustless systems. These systems enable parties of all
      sizes to exchange information and engage in transactions. Privacy,
      transparency, and fault-tolerance are key advantages to distributed ledger
      systems.
    </p>
  </div>
  <div class="services">
    <div class="top-wrapper">
      <img src="../../../assets/case-study-img.png" alt="" />
      <h2>Blockchain & distributed ledger</h2>
    </div>
    <p>
      Blockchain and distributed ledger technologies have great potential for
      building secure, trustless systems. These systems enable parties of all
      sizes to exchange information and engage in transactions. Privacy,
      transparency, and fault-tolerance are key advantages to distributed ledger
      systems.
    </p>
  </div>
  <div class="services">
    <div class="top-wrapper">
      <img src="../../../assets/case-study-img.png" alt="" />
      <h2>Blockchain & distributed ledger</h2>
    </div>
    <p>
      Blockchain and distributed ledger technologies have great potential for
      building secure, trustless systems. These systems enable parties of all
      sizes to exchange information and engage in transactions. Privacy,
      transparency, and fault-tolerance are key advantages to distributed ledger
      systems.
    </p>
  </div>
</div>
<h2 class="divider">Case studies</h2>
<div class="case-study-wrapper">
  <div class="case-study">
    <img src="../../../assets/hero.jpg" alt="" />
    <div class="info-wrapper">
      <span>Case Study 1</span>
      <p>
        Blockchain and Distributed Ledger technologies hold great potential
        trustkless systems. These systems enable parties engage in transactions.
      </p>
      <button class="btn">View case study ></button>
    </div>
  </div>
  <div class="case-study">
    <img src="../../../assets/hero.jpg" alt="" />
    <div class="info-wrapper">
      <span>Case Study 2</span>
      <p>
        Blockchain and Distributed Ledger technologies hold great potential
        trustkless systems. These systems enable parties engage in transactions.
      </p>
      <button class="btn">View case study ></button>
    </div>
  </div>
  <div class="case-study">
    <img src="../../../assets/hero.jpg" alt="" />
    <div class="info-wrapper">
      <span>Case Study 3</span>
      <p>
        Blockchain and Distributed Ledger technologies hold great potential
        trustkless systems. These systems enable parties engage in transactions.
      </p>
      <button class="btn">View case study ></button>
    </div>
  </div>
</div>

<footer>
  <div class="top-wrapper">
    LET US HELP WITH YOUR NEXT PROJECT
    <button class="btn">Get started here ></button>
  </div>
  <div class="bottom-wrapper">
    <i class="fas fa-mobile-alt"></i> 716-636-0070
    <i class="fas fa-envelope"></i> info@txmq.com
  </div>
</footer>
